/* INDEX 

1. GENERAL
    a. General
    b. Menu
    c. Footer


2. INDEX
    a. Hero Banner
    b. Body Flexboxs
   

3. ADRESSES
    a. Container 

4. Terre
    a. Slider
    b. Boutons
    c. Thumbnail (légende)

5. Mer
    a.
    b.

6. Contact
    a. Formulaire
    b. Map

    -------------------------------------------------------------------------------------------------- */
    
       /* 1. GENERAL */ 

/* a. General */

@import url('https://fonts.googleapis.com/css2?family=Buda:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(238, 240, 241);
}

#main {
    width: 75%;
    margin: auto;
    min-height:100vh;
    position:relative;
    background-color: rgb(255, 255, 255 );
}

h1 {
    font-size: 40px;
    margin-top: 30px;
    color: rgb(255,255,255);
    font-family: 'Buda', cursive;
}

h2 {
    font-family: 'Buda', cursive;
}

p {
    font-family: 'Buda', cursive;
}

/* b. Menu */

nav {
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(51, 51, 51);
    color: white;
    height: 80px;
    padding-bottom: 10px; 
}

#menu {
    width: auto;
    justify-self: flex-end;  
}

#logo {
    position: relative;
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-top: 10px;
}

ul {
     display: flex;
     
    
}

li {
    list-style: none;
    margin: 0px 10px;
    border-right: 1px solid white;
    padding-right: 15px;
    font-family: 'Buda', cursive;
    margin-top: 10px;
}

a:hover {
    cursor: pointer;
    color: rgba(141, 140, 140, 0.973);
    margin-bottom: 5px;
}


a {
    color: white;
    text-decoration: none;
}

/* c. Footer */

footer {
    display: flex;
    background-color: rgb(51, 51, 51);
    bottom: 0;
    justify-content: space-around;
    align-items: center;
    position:relative;
    height:2.5rem;
    width:100%;
}

footer p {
    color:rgb(238, 240, 241);
    font-size: 12px;
    padding-top: 10px;
}

footer li {
    font-size: 12px;
}

#menuResponsive{
    display: none;
}

#burger{
    display: none;
}




/* --------------------------------------------------------------------------------------------- */

    /* 2. INDEX */

/* a. Hero banner */

.hero {
    display: flex;
    width: auto;
    height: auto    ;
    justify-content: flex-end;
    margin-bottom: 30px;
    
}

#imgHero {
    z-index:0;
    width: 100%;
    height: auto;

}

#welcome {
    height: 120px;
    width: 400px;
    display: flex;
    position: absolute; 
    background-color: rgba(50, 50, 50, 0.7);
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 50px;
    margin-right: 50px;
    font-family: 'Buda', cursive;
}


/* b. Body flexboxs */

.histoire {
    width: 50%;
    display: flex;
    justify-self: space-around;
    margin-bottom: 50px;
    flex-direction: column;
}

.histoire h2 {
    font-size: 20px;
}

.presentationHome {
    display: flex;
    justify-content: space-around;
}

#general {
   border-top: 1px solid black;
   border-right: 1px solid black;
   text-align: justify;
   font-size: 17px;
   margin-top: 50px;
}



#local {
    width: 100%;
    margin-top: 40px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    text-align: justify;
    font-size: 17px;
}

#etudier {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.titreHistoireG {
    padding-left: 10px;
    padding-top: 10px;
    text-align: center;
    height: 35px;
    text-transform: uppercase;
}

.titreHistoireD {
    padding-left: 10px;
    height: 35px;
    text-align: center;
    padding-top: 10px;
    text-transform: uppercase;
    text-align: center  ; 
}

.titreEtudier{
    padding-left: 10px;
    height: 35px;
    text-transform: uppercase;
    margin-top: 40px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    padding-top: 10px;
}

.paragrapheHistoire {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
}

/* Timeline Twitter */
.timelineTitle{
    border-bottom: 1px solid black;
    text-align: center;    
}

#timeline{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timeline h2{
    border-bottom: 1px solid black;
    text-align: center  ;
    width: 100%;
    
}

.twitter-follow-button{
    padding-top: 10px;
    padding-bottom: 10px;
}


/* ------------------------------------------------------------------------------------------------*/

    /* 2. Explorer */

    /* ---- TERRE ---- */

    /* a. General */

    #explorerContainer h1{
        color: black;
        text-align: center;
        margin-top: 50px;
        text-transform: uppercase;
    }

    #explorerContainer h2, h3, p {
        font-family: 'Buda', cursive;
    }

    .titlePage{
        color: grey;
        text-align: center;
        margin-top: 30px;
    }

    hr{
        margin: 40px;
    }

    img{
        cursor: pointer;
        transition: 0.3s;
    }

    img:hover{
        opacity: 0.8;
    }
    
    /* Disposition des images style ZigZag avec flexbox */

    #terre{
        display: flex;
        flex-direction: column;
    }

    #rightOne, #leftOne{
        display: flex;
        justify-content: flex-end;
        position: relative;
        margin-right: 40px;
    }

    #rightTwo, #leftTwo{
        display: flex;
        justify-content: flex-start;
        position: relative;
        margin-left: 40px;
    }

    /* Blocs textes présentation images */

    .imgBlockOne{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .imgBlockTwo{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .textBlockOne{
        margin: 50px;
        text-align: justify;       
    }

    .textBlockTwo{
        margin: 50px;
        text-align: justify;
    }


    /* Animations */

    #terre img{
        animation: fadein 4s;
    }

    .textBlockOne {
        animation: fadein 4s, slideRight 3s ease;
    }
    
    .textBlockTwo {
        animation: fadein 4s, slideLeft 3s ease;
    }

    .titleBlockOne, .titleBlockTwo, .titleBlockThree, .titleBlockFour {
        overflow: hidden;
        animation: fadeinTitle 4s;  
    }

    #explorerContainer h1,h2 {
        height: 0;
        overflow: hidden;
        animation: slide 2s ease forwards;
        font-family: 'Buda', cursive;
    }

    @keyframes slide {
        0%{height: 0;}
        100%{height: 50px;}
    }

    @keyframes fadeinTitle {
        0% { opacity: 0;}
        50% {opacity: 0;}
        100% { opacity: 0.7; }
    }

    @keyframes fadein {
        0% { opacity: 0;}
        100% { opacity: 1;}
    }

    @keyframes slideRight {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0);
        }
    }

    @keyframes slideLeft {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0);
        }
    }
    
    
    /* Images responsive */

    #one,#two, #three, #four{
        width: 50%;
        height: auto;
        border: 2px solid black;
        cursor: pointer;
    }

    #one, #three{
        box-shadow: 3px 3px 3px rgb(54, 54, 54);
    }

    #two, #four{
        box-shadow: -3px 3px 3px rgb(54, 54, 54);
    }


    /* Blocs titre sur images */

    .titleBlockOne{
        position: absolute;
        bottom: 20px;
        right: 20px;
        border-radius: 2px;
        opacity: 0.7;
        background-color: black;
        text-transform: uppercase;
        color: white;
        padding: 20px;
    }

    .titleBlockTwo{
        position: absolute;
        bottom: 20px;
        left: 20px;
        opacity: 0.7;
        border-radius: 2px;
        background-color: black;
        text-transform: uppercase;
        color: white;
        padding: 20px;
    }

    .titleBlockThree{
        position: absolute;
        bottom: 20px;
        left: 715px;
        opacity: 0.7;
        border-radius: 2px;
        background-color: black;
        text-transform: uppercase;
        color: white;
        padding: 20px;
    }

    .titleBlockFour{
        position: absolute;
        bottom: 60px;
        left: 20px;
        opacity: 0.7;
        border-radius: 2px;
        background-color: black;
        text-transform: uppercase;
        color: white;
        padding: 20px;
    }


    /* b. Modal Images */

    /* Modal display style */

    .modal {
        display: none; 
        position: fixed; 
        z-index: 1; 
        padding-top: 100px; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.9); 
      }

    .modalImg {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 800px;
    }

    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* Button close style */

    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 30px;
        transition: 0.3s;
        cursor: pointer;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    close:hover,.close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
      

    /* c. Animations */
      
    .modalImg, #modalCaption {
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @keyframes zoom{
        from {transform: scale(0);}
        to{transform: scale(1);}
    }


    /* ---- MER ---- */

    /* a. Slider Plages */

    #titleMer{
        margin-top: 10px;
        margin-bottom: 30px;
        text-align: center;
        color: grey;
    }

    #mer img{
        border: 2px solid black;
    }

    .slideContainer{
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    /* Hide img by default */

    .slideImg {
        display: none;
    }

    /* Style buttons prev/next + position */

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color:white;
        font-weight: bold;
        font-size: 30px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

    /* Style number text + caption text */

    .textPlage {
        color: white;
        opacity: 1;
        font-weight: 900;
        font-size: 25px;
        text-transform: uppercase;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        font-family: 'Buda', cursive;
        text-align: center;
        text-shadow: 0 0 2px black;
    }

    .numbertext {
        color: white;
        font-size: 20px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
        font-weight: 900;
    }

    /* Buttons below img */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        margin-bottom: 200px;
    }
    
    .active, .dot:hover {
        background-color: #717171;
    }

    /* Description positionning under slider */

    .description {
        position: absolute;
        margin-top: 80px;
        text-align: center;
        font-size: 17px;
    }

    /* b. Animation fading img  */

    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
      
    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

    /* Media Queries */

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        .titleBlockOne{
            position: absolute;
            bottom: 110px;
            right: 20px;
            border-radius: 2px;
            opacity: 0.7;
            background-color: black;
            text-transform: uppercase;
            color: white;
            padding: 20px;
        }
    
        .titleBlockTwo{
            position: absolute;
            bottom: 100px;
            left: 20px;
            opacity: 0.7;
            border-radius: 2px;
            background-color: black;
            text-transform: uppercase;
            color: white;
            padding: 20px;
        }
    
        .titleBlockThree{
            position: absolute;
            bottom: 130px;
            left:  420px;
            opacity: 0.7;
            border-radius: 2px;
            background-color: black;
            text-transform: uppercase;
            color: white;
            padding: 20px;
        }
    
        .titleBlockFour{
            position: absolute;
            bottom: 160px;
            left: 20px;
            opacity: 0.7;
            border-radius: 2px;
            background-color: black;
            text-transform: uppercase;
            color: white;
            padding: 20px;
        }
    }
  

/* ---------------------------------------------------------------------------------*/

    /* 3. DECOUVREZ */

    /* a. General */


.title h1 {
    color: black;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
    height: 0;
    overflow: hidden;
    animation: slide 2s ease forwards;
    font-family: 'Buda', cursive;
}


.title h2{
    color: grey;
    text-align: center;
    height: 0;
    overflow: hidden;
    animation: slide 2s ease forwards;
    font-family: 'Buda', cursive;
}


.info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
    animation: fadein 4s, slideLeft 4s ease;
}

.info h3 {
    margin-right: 10px;
    margin-left: 20px;
    font-size: 32px;
    font-family: 'Buda', cursive;
}

.info p {
    font-size: 24px;
    margin-top: 5px;
    font-family: 'Buda', cursive;
}


/* b. Overlay */

.presentation {
    position: relative;
    width: 50%;
    margin: 10px;
}

.photos {
    display: flex;
    justify-content: space-around;
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
}

.presentation p {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    overflow: hidden;
    animation: fadeinTitle 3s; 
}

.image {
    display: block;
    height: auto;
    width: 100%;
}

.overlay {
    display: flex;
    position: absolute; 
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(60, 60, 60, 0.8);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    justify-content: center;
    align-items:center;
}

.text {
    font-family: 'Buda', cursive;
    font-size: 32px;
    font-weight: bold;
    color:rgb(190, 190, 190);
    justify-content: center;
    align-content: center;
}

.presentation:hover .overlay {
    bottom: 0;
    height: 100%;
}


/* ---------------------------------------------- */

    /*  4. Contact */

    /* a. Map */



#localisation {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#adresse{
    /* animation: fadein 4s, slideLeft 4s ease; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h2 p {
    color: black;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
    height: 0;
    overflow: hidden;
    animation: slide 2s ease forwards;
    font-family: 'Buda', cursive;
}

  .card h2{
    order:-1;
    text-align:center;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .card {
    display:flex;
    flex:1;
    flex-direction:column;
    justify-content:space-around;
  } 

    /* b. Formulaire */

    .responsiveForm {
        display: none;
    }

    .formulaire {
       margin-bottom: 50px;
       height: auto;
       width: 100%;
       justify-content: center;
       align-items: center;
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
    }
 

    .formulaire h2 {
        color: grey;
        text-align: center;
        height: 0;
        overflow: hidden;
        animation: slide 2s ease forwards;
        font-family: 'Buda', cursive;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 40% auto;
        align-items: center;
        margin-top: 20px;
    }

    #inputText, #inputEmail {
        width: 50%;
        height: 40px;
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: center;
        background-color: rgba(50, 50, 50, 0.7);
        color:rgb(238, 240, 241);
        font-family: 'Buda', cursive;
        border-radius: 2px;
    }

    #inputMessage {
        margin-top: 30px;
        width: 70%;
        background-color: rgba(50, 50, 50, 0.7);
        color: rgb(238, 240, 241);
        font-family: 'Buda', cursive;
        border-radius: 2px;
    }

    #contactForm {
        background-image: url(Images/backgroundForm.jpeg);
        background-repeat:round;
        border-radius: 3px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 600px;
        margin: 0px 20px;
    }

    #submitBtn {
        cursor: pointer;
        margin-top: 20px;
        height: 60px;
        width: 20%;
        opacity: 0.8;
        border-radius: 8px;
        background-color: rgb(151, 116, 10);
        border: 1px solid black;
        color: rgb(238, 240, 241);
        font-size: 32px;
        font-family: 'Buda', cursive;
    }

    


 /* -------------------------------------------*/

    /* 5. RESPONSIVE */

    /* a. General */

    @media only screen and (max-width: 1024px) {
        /* Cacher le menu gÃ©nÃ©ral en responsive */

        #menu {
            display: none;
        }

        .topnav {
            width: 100%;
            display: flex;
            justify-content: space-between;
        } 

        #logo {
            display:flex;
            align-content: center;
        }

        #menuResponsive {
            display: block;
            position: absolute;
            justify-content: center;
            background-color: rgba(50, 50, 50, 0.7);
            right: 0;
            top: 0;
            margin: 0;
            width: 100%;
            height: 200px;
            z-index: 99;
            transform-origin: 0% 0%;
            transform: translate(200%, 0);
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        }

        #menuResponsive.open {
            transform: none;
            position: fixed;
            width: 100%;
            height: auto;
        }

        #menuResponsive a {
            font-size: 24px;
            font-family: 'Mulish', arial, sans-serif;
            font-weight: 100;
        }

        #menuResponsive ul {
            display: flex;
            flex-direction: column;
            text-align: center;
            background-color:rgba(50, 50, 50, 0.9);
            
            position: absolute;
            margin:0;
            right: 0;
            top: 0;
            width: 100%;
            min-width: 200px;
            height: auto;
        }

        #menuResponsive li {
            background-color: rgba(50, 50, 50, 0.1);
            width: 100%;
            margin-bottom: 10px;
        
        }

        #burger {
            
            display: flex;
            align-items: center;
            margin: 16px;
            width: 33px;
            height: 28px;
            z-index: 99;
            user-select: none;
            cursor: pointer;
        }


        #homeLink {
            display: block;
            font-size: 24px;
        }

        

         #main {
            width: 100%;
            overflow-x: hidden;
        }

        footer {
            display: none;
        }

        #footerResponsive {
            display: flex;
            max-height: 60px;
            width: 100%;
     
           justify-content: space-between;
           align-content: flex-end;
           position: absolute;
           bottom: 0;
       
        }

        #footerResponsive > ul {
            display: flex;
            margin-top: 50px;
            margin-bottom: 20px;
            width: 100%;
            justify-content: space-evenly;
        }


    
        

       
       
    }


    /* b. Index */ 

    @media only screen and (max-width: 1024px) {
        
    

    .hero {
        width: auto;
        
    }

    

    

    #welcome {
        display: none;
        width: auto;
        height: auto;
        position: fixed;
        justify-self: center;
    }

    .histoire {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
       
    }

        #general {
            width: 100%;
            margin-bottom: 50px;
        }
        #local {
            width: 100%;
            margin-bottom: 50px;
        }

    }


    /* c. DÃ©couvrez */

    @media only screen and (max-width: 1024px) {
        
    }

    .info {
        margin-left: 20px;
    }

    /* Contact */ 

    @media only screen and (max-width: 1024px) {

    #map {
        display: flex;
        width: 80%;
        justify-self: center;
    }

    #contactForm {
        display: flex;
        width: auto;
        justify-self: center;
    }

    @media only screen and (max-width: 376px) {

        .formulaire {
            display: none;
           position: center;
        }

        #responsiveFormTitle {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            color:rgb(250, 104, 87);
        }

        .responsiveForm {
            display: center;
            background-color: rgba(50, 50, 50, 0.7);
            margin-bottom: 20px;
        }

        #responsiveText {
            height: 30px;
            width: 80%;
            margin-bottom: 5px;
            margin-top: 10px;
            text-align: center;
            font-family: 'Mulish', Arial, Helvetica, sans-serif;

        }

        #responsiveEmail {
            height: 30px;
            width: 80%;
            margin-bottom: 5px;
            text-align: center;
            font-family: 'Mulish', Arial, Helvetica, sans-serif;
        }

        #responsiveArea {
            width: 80%;
            height: 200px;
            margin-bottom: 10px;
            font-family: 'Mulish', Arial, Helvetica, sans-serif;
        }

        #responsiveSubmitBtn {
            display: flex;
            height: 50px;
            width: 50%;
            border-radius: 25px;
            margin-bottom: 10px;
            color:rgb(250, 104, 87);
            
            justify-content: center;
            align-content: center;
            font-size: 28px;
            font-family: 'Mulish', arial, sans-serif;
            font-weight: 700;
        }

        #responsiveSubmitBtn:active {
            background-color: rgb(250, 104, 87);
            color: rgba(206, 196, 168, 0.9)
        }
    }
    }
