/* INDEX 

1. GENERAL
    a. General
    b. Menu
    c. Footer


2. INDEX
    a. Hero Banner
    b. Body Flexboxs
   

3. ADRESSES
    a. Container 

    -------------------------------------------------------------------------------------------------- */
    
       /* 1. GENERAL */ 

/* a. General */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Mulish:wght@200&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(238, 240, 241);
}

#main {
    width: 50%;
    margin: auto;
    min-height:100vh;
    position:relative;
    background-color: rgb(255, 255, 255 );
}

h1 {
    font-size: 40px;
    margin-top: 30px;
    color: rgb(255,255,255);
    font-family: 'Merriweather', sans-serif;

}

h2 {
    font-family: 'Merriweather', sans-serif;
}

p {
    font-family: 'Mulish', sans-serif;
}

/* b. Menu */

nav {
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(51, 51, 51);
    color: white;
    height: 80px;
    
}

#menu {
    width: auto;
    justify-self: flex-end;
   
    
}

#logo {
    position: relative;
    width: auto;
    height: auto;
    margin-left: 10px;
}

ul {
     display: flex;
     
    
}

li {
    list-style: none;
    margin: 0px 10px;
    border-right: 1px solid white;
    padding-right: 15px;
    font-family: 'Mulish', sans-serif;
}

a:hover {
    cursor: pointer;
    color: rgba(141, 140, 140, 0.973);
    margin-bottom: 5px;
}


a {
    color: white;
    text-decoration: none;
}

/* c. Footer */

footer {
    display: flex;
    background-color: rgb(51, 51, 51);
    bottom: 0;
    justify-content: space-around;
    align-items: center;
    position:absolute;
    height:2.5rem;
    width:100%;  
}

footer p {
    color:rgb(238, 240, 241);
    font-size: 12px;
}

footer li {
    font-size: 12px;
}



/* --------------------------------------------------------------------------------------------- */

    /* 2. INDEX */



/* a. Hero banner */

.hero {
    display: flex;
    width: auto;
    height: 500px;
    justify-content: flex-end;
    
}

#imgHero {
    z-index:0;
    width: 100%;
    height: auto;

}

#welcome {
    height: 120px;
    width: 400px;
    display: flex;
    position: absolute; 
    background-color: rgba(50, 50, 50, 0.7);
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 50px;
    margin-right: 50px;
}


/* b. Body flexboxs */

.histoire {
    width: auto;
    display: flex;
    margin: 20px 10px;
    justify-self: space-around;
    margin-top: 20px;
    margin-bottom: 50px;
}

.histoire h2 {
    font-size: 20px;
}

#general {
   width: 50%;
}

#local {
    width: 50%;
    margin-left: 10px;
}

.titreHistoireG {
    padding-left: 10px;
    display: flex;
    background-color: rgb(66, 166, 212);
    height: 35px;
    align-items: center;
}

.titreHistoireD {
    padding-left: 10px;
    height: 35px;
    background-color: rgba(245, 162, 53, 0.74);
    display: flex;
    align-items: center;

}

.paragrapheHistoire {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}


/* ------------------------------------------------------------------------------------------------*/

/* 2. ADRESSES */

    /* a. Container */

    #container {
        display: flex;
        width: auto;
        flex-direction: column;
       
    }

    .restaurant {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 40px;
    }

    .restaurant h2 {
        margin-bottom: 10px;
    }

    .restaurant p {
        padding: 0px 30px;
        margin-top: 10px;
    }

    .imgRestaurant {
        margin-top: 30px;
        width: auto;
        height: auto;
    }


   /* ------------------------------------------------------------------------------------------------*/

/* 3. Terre */

#presentation h1, p{
    text-align: center;
    color: black;
}

    
#photosTerre{
    width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#photosTerre img{
    max-width: auto;
    margin: 50px;
}

  /* ------------------------------------------------------------------------------------------------*/

/* 4. Mer */

#blocFlex{
    display: flex;
}

#présentation2 h1{
    color: black;
    text-align: center;
}

/* -------------------------------------------*/

/* 5. Contact */

form {
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  form div + div {
    margin-top: 1em;
  }
  
  label {
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input, textarea {
    /* Pour s'assurer que tous les champs texte ont la même police.
       Par défaut, les textarea ont une police monospace */
    font: 1em sans-serif;
  
    /* Pour que tous les champs texte aient la même dimension */
    width: 300px;
    box-sizing: border-box;
  
    /* Pour harmoniser le look & feel des bordures des champs texte */
    border: 1px solid #999;
  }
  
  input:focus, textarea:focus {
    /* Pour souligner légèrement les éléments actifs */
    border-color: #000;
  }
  
  textarea {
    /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
    vertical-align: top;
  
    /* Pour donner assez de place pour écrire du texte */
    height: 5em;
  }
  
  .button {
    /* Pour placer le bouton à la même position que les champs texte */
    padding-left: 90px; /* même taille que les étiquettes */
  }
  
  button {
    /* Cette marge supplémentaire représente grosso modo le même espace que celui
       entre les étiquettes et les champs texte */
    margin-left: .5em;
  }

  .card h2{
    order:-1;
    text-align:center;
  }

  section {
      display:flex;
  }

  .card {
    display:flex;
    flex:1;
    flex-direction:column;
    justify-content:space-around;
  }

