/* INDEX 

1. GENERAL
    a. General
    b. Menu
    c. Footer


2. INDEX
    a. Hero Banner
    b. Body Flexboxs
    c. Video YouTube
   

3. ADRESSES
    a. Container 

4. Terre
    a. Slider
    b. Boutons
    c. Thumbnail (légende)



5. CONTACT
    a. Formulaire
    b. Map

6. DECOUVREZ     

7. RESPONSIVE
    a. Général
    b. Index

    -------------------------------------------------------------------------------------------------- */
    
       /* 1. GENERAL */ 

/* a. General */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Mulish:wght@200&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(238, 240, 241);
}

#main {
    width: 75%;
    margin: auto;
    min-height:100vh;
    position:relative;
    background-color: rgb(255, 255, 255 );
}

h1 {
    font-size: 40px;
    margin-top: 30px;
    color: rgb(255,255,255);
    font-family: 'Merriweather', sans-serif;

}

h2 {
    font-family: 'Merriweather', sans-serif;
    font-size: 32px;
}

p {
    font-family: 'Mulish', sans-serif;
}

/* b. Menu */

nav {
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(51, 51, 51);
    color: white;
    height: 80px;
    
}

                /* Cacher le menu reponsive */

    #burger, #menuResponsive {
        display: none;
    }

    #homeLink {
        display: none;
    }



#menu {
    width: auto;
    align-content: center;
}

#logo {
    
    
    width: auto;
   
    margin-left: 10px;
}

ul {
     display: flex;
     
    
}

li {
    list-style: none;
    margin: 0px 10px;
    border-right: 1px solid white;
    padding-right: 15px;
    font-family: 'Mulish', sans-serif;
}

a:hover {
    cursor: pointer;
    color: rgba(141, 140, 140, 0.973);
    margin-bottom: 5px;
}


a {
    color: white;
    text-decoration: none;
}

/* c. Footer */

footer {
    margin-top: 100px;
    display: flex;
    background-color: rgb(51, 51, 51);
    bottom: 0;
    justify-content: space-around;
    align-items: center;
    position:absolute;
    bottom: 0;
    height:2.5rem;
    width:100%;
}

footer p {
    color:rgb(238, 240, 241);
    font-size: 12px;
}

footer li {
    font-size: 12px;
}

#footerResponsive {
    display: none;
}



/* --------------------------------------------------------------------------------------------- */

    /* 2. INDEX */



/* a. Hero banner */

.hero {
    display: flex;
    width: auto;
    height: 500px;
    justify-content: flex-end;
    
}

#imgHero {
    z-index:0;
    width: 100%;
    height: auto;

}

#welcome {
    height: 120px;
    width: 400px;
    display: flex;
    position: absolute; 
    background-color: rgba(50, 50, 50, 0.7);
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 50px;
    margin-right: 50px;
}


/* b. Body flexboxs */

.histoire {
    width: auto;
    display: flex;
    margin: 20px 10px;
    justify-content: space-around;
    margin-top: 20px;
    height: auto;
}

.histoire h2 {
    font-size: 20px;
}

#general {
 max-width: 600px;
}

#local {
  max-width: 600px;
    margin-left: 10px;
}

.titreHistoireG {
    padding-left: 10px;
    display: flex;
    background-color: rgb(66, 166, 212);
    height: 35px;
    align-items: center;
}

.titreHistoireD {
    padding-left: 10px;
    height: 35px;
    background-color:rgb(250, 104, 87);
    display: flex;
    align-items: center;

}

.paragrapheHistoire {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

    /* c. Video YouTube */

.video {
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

span {
    height: 10px;
    width: 70%;
    color:rgba(50, 50, 50, 0.7)
}


/* ------------------------------------------------------------------------------------------------*/

/* 2. ADRESSES */

    /* a. Container */

    #container {
        display: flex;
        width: auto;
        flex-direction: column;
    
       
    }

    .restaurant {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 40px;
    }

    .restaurant h2 {
        margin-bottom: 10px;
    }

    .restaurant p {
        padding: 0px 30px;
        margin-top: 10px;
    }

    .imgRestaurant {
        margin-top: 30px;
        width: auto;
        height: auto;
    }

    /* ------------------------------------------------------------------------------------------------*/

    /* 4. Explorer */

    /* -- --- TERRE -- --- */

    #explorerContainer h1{
        color: black;
        text-align: center;
        margin-top: 50px;
        text-transform: uppercase;
    }

    #titleTerre{
        color: grey;
        text-align: center;
        margin-top: 30px;
    }

    hr{
        margin: 40px;
    }

    img{
        cursor: pointer;
        transition: 0.3s;
    }

    img:hover{
        opacity: 0.8;
    }
    
    /* Disposition des images style ZigZag avec flexbox */

    #terre{
        display: flex;
        flex-direction: column;
    }

    #rightOne, #leftOne{
        display: flex;
        justify-content: flex-end;
        position: relative;
        margin-right: 40px;
    }

    #rightTwo, #leftTwo{
        display: flex;
        justify-content: flex-start;
        position: relative;
        margin-left: 40px;
    }

    /* Blocs textes présentation images */

    .imgBlockOne{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .imgBlockTwo{
        display: flex;
        flex-direction: row;
        align-items: center;
        

    }

    .textBlockOne{
        margin: 50px;
        text-align: justify;
        
    }

    .textBlockTwo{
        margin: 50px;
        text-align: justify;
    }

    /* Images responsive */

    #one,#two, #three, #four{
        width: 50%;
        height: auto;
        border: 2px solid black;
        cursor: pointer;
        
    }

    #one, #three{
        box-shadow: 3px 3px 3px rgb(54, 54, 54);
    }

    #two, #four{
        box-shadow: -3px 3px 3px rgb(54, 54, 54);
    }

    /* Blocs titre sur images */

    .titleBlockOne{
        position: absolute;
        bottom: 20px;
        right: 20px;
        background-color: black;
        color: white;
        padding: 20px;
    }

    .titleBlockTwo{
        position: absolute;
        bottom: 20px;
        left: 20px;
        background-color: black;
        color: white;
        padding: 20px;
    }

    /* -- Modal Images -- */

    /* Modal display style */

    .modal {
        display: none; 
        position: fixed; 
        z-index: 1; 
        padding-top: 100px; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.9); 
      }

    .modalImg {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
      }

    /* Button close style */

    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

    close:hover,.close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
      
    /* Animation zoom */
      
    .modalImg, #modalCaption {
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @keyframes zoom{
        from {transform: scale(0);}
        to{transform: scale(1);}
    }

    

    /* -- Slider Plages -- */

    #titleMer{
        margin-top: 10px;
        margin-bottom: 30px;
        text-align: center;
        color: grey;
    }

    #mer img{
        border: 2px solid black;
    }

    .slideContainer{
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    /* Hide img by default */

    .slideImg {
        display: none;
    }

    /* Style buttons prev/next + position */

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color:white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

    /* Style number text + caption text */

    .text {
        color: black;
        font-size: 25px;
        text-transform: uppercase;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    .numbertext {
        color: red;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* Buttons below img */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        margin-bottom: 40px;
    }
    
    .active, .dot:hover {
        background-color: #717171;
    }

    /* Animation fading img  */

    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
      
    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

/* -------------------------------------------*/

/* 5. Contact */

    /* a. Formulaire */

    .formulaire {
       margin-bottom: 50px;
       height: auto;
       width: 100%;
       justify-content: center;
       display: flex;
       flex-wrap: wrap;
    
    }
 
    
    .card h2 {
        color:rgb(250, 104, 87);
    }

    .formulaire h2 {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 20px;
        color: rgb(250, 104, 87);
    }

    form {
      
        display: flex;
        flex-direction: column;
        width: 40% auto;
        align-items: center;
        margin-top: 20px;
    }

    #inputText, #inputEmail {
        width: 500px;
        height: 40px;
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: center;
        background-color: rgba(50, 50, 50, 0.7);
        color:rgb(238, 240, 241);
        font-family: 'Merriweather', arial, sans-serif;
    }

    #inputMessage {
        margin-top: 30px;
        width: 700px;
        background-color: rgba(50, 50, 50, 0.7);
        color: rgb(238, 240, 241);
        font-family: 'Merriweather', arial, sans-serif;

    }

    #contactForm {
    
        background-image: url(https://picsum.photos/seed/picsum/1800/600);
        background-repeat:no-repeat;
        display: flex;
       flex-direction: column;
       width: 100%;
       height: 600px;
       margin: 0px 20px;
      
    }

    #submitBtn {
        margin-top: 20px;
        height: 60px;
        width: 200px;
        border-radius: 30px;
        background-color: rgb(250, 104, 87);
        color: rgb(238, 240, 241);
        font-size: 32px;
        font-family: 'Mulish', sans-serif;

    }

    /* b. Map */

    #localisation {
        display: flex;
        justify-content: center;
    }
  

  .card h2{
    order:-1;
    text-align:center;
    margin-bottom: 20px;
    margin-top: 20px;
  }

 

  .card {
    display:flex;
    flex:1;
    flex-direction:column;
    justify-content:space-around;
  }


  /* -------------------------------------------*/ 

/* 6. DECOUVREZ */ 

#decouvrez h1 {
    color:rgb(250, 104, 87);
    margin-right: 20px;
    margin-left: 20px;
    font-size: 60px;
    font-weight: bold;
}

.title {
    display: flex;
    width: 100%;
}

.title h1 {
    font-weight: bold;
    font-size: 60px;
}

.subTitle {
    margin-top: 50px;
    margin-left: 20px;
    font-size: 20px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
   
}

.info h3 {
    margin-right: 10px;
    margin-left: 20px;
    font-size: 32px;
}

.info p {
    font-size: 24px;
    margin-top: 5px;
}




/* Overlay */

.presentation {
    position: relative;
    width: 50%;
    margin: 10px;
}

.photos {
    display: flex;
    justify-content: space-around;
    width: auto;
    margin-bottom: 50px;
}

.presentation p {
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}

.image {

    display: block;
    height: auto;
    width: 100%;
}

.overlay {
    display: flex;
    position: absolute; 
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(60, 60, 60, 0.8);
    overflow: hidden;
    width: auto;
    height: 0;
    transition: .5s ease;
    justify-content: center;
    align-items:center;
   
}

.text {
    font-family: 'Mulish', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color:rgb(190, 190, 190);
    justify-content: center;
    align-content: flex-end;
    
}

.presentation:hover .overlay {
    bottom: 0;
    height: 100%;
}




  /* -------------------------------------------*/

/* 7. RESPONSIVE */

    /* a. Général */

    @media only screen and (max-width: 1024px) {
        /* Cacher le menu général en responsive */

        #menu {
            display: none;
        }

        .topnav {
            width: 100%;
            display: flex;
            align-items: center;
        } 

        #logo {
            display:flex;
            align-content: center;
        }

        #menuResponsive {
            display: block;
            position: absolute;
            justify-content: center;
            background-color: rgba(50, 50, 50, 0.7);
            right: 0;
            top: 0;
            margin: 0;
            width: 100%;
            height: 200px;
            z-index: 99;
            transform-origin: 0% 0%;
            transform: translate(200%, 0);
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        }

        #menuResponsive.open {
            transform: none;
            position: fixed;
            width: 100%;
            height: auto;
        }

        #menuResponsive a {
            font-size: 24px;
            font-family: 'Mulish', arial, sans-serif;
            font-weight: 100;
        }

        #menuResponsive ul {
            display: flex;
            flex-direction: column;
            text-align: center;
            background-color:rgba(50, 50, 50, 0.9);
            
            position: absolute;
            margin:0;
            right: 0;
            top: 0;
            width: 100%;
            min-width: 200px;
            height: auto;
        }

        #menuResponsive li {
            background-color: rgba(50, 50, 50, 0.1);
            width: 100%;
            margin-bottom: 10px;
        
        }

        #burger {
            
            display: flex;
            position: relative;
            margin: 16px;
            width: 33px;
            height: 28px;
            z-index: 99;
            user-select: none;
            cursor: pointer;
        }


        #homeLink {
            display: block;
            font-size: 24px;
        }

        

         #main {
            width: 100%;
            overflow-x: hidden;
        }

        footer {
            display: none;
        }

        #footerResponsive {
            display: flex;
            max-height: 60px;
            width: 100%;
     
           justify-content: space-between;
           align-content: flex-end;
           position: absolute;
           bottom: 0;
       
        }

        #footerResponsive > ul {
            display: flex;
            margin-top: 50px;
            margin-bottom: 20px;
            width: 100%;
            justify-content: space-evenly;
        }


    
        

       
       
    }


    /* b. Index */ 

    .hero {
        width: auto;
        
    }

    

    

    #welcome {
        display: none;
        width: auto;
        height: auto;
        position: fixed;
        justify-self: center;
    }

    .histoire {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
       
    }

        #general {
            width: 100%;
            margin-bottom: 50px;
        }
        #local {
            width: 100%;
            margin-bottom: 50px;
        }


    /* c. Découvrez */

    h3 {
        
    }

    .info {
        margin-left: 20px;
    }